body {
  font-family: Verdana;
  margin: 0;
  overflow: hidden;
}

.w100 {
  width: 100%;
}

.header {
  height: 55px;
  background-color: #000;
  box-sizing: border-box;
  color: #fff;
  float: left;
  text-align: center;
  padding-top: 15px;
  width: 100%;
}

.mC {
  overflow: auto;
  width: 20%;
  float: left;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: #f8f8ff;
}

.mcC {
  padding: 15px;
  cursor: pointer;
  font-size: 13px;
  word-wrap: normal;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.iC {
  width: 80%;
  height: 100%; 
  float: right;
  overflow: auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}



.ComponentC {
  width: 100%;
}

.mcCheight {
  height: calc(100vh - 50px);
}

.ImageC {
  height: 285px;
  border-radius: 5px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.diffI {
  width: 85%;
  float: left;
  padding: 10px 60px 10px 60px;
}

.componentT {
  background-color: #f8f8ff;
  height: 35px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
  font-weight: bold;
  font-size: 12px;
}

.ImageC img, .diffI img {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 0 12px 0 rgb(42, 45, 54);
  -moz-box-shadow: 0 0 12px 0 rgb(42, 45, 54);
  box-shadow: 0 0 12px 0 rgb(42, 45, 54);
}

.p0 {
  padding: 0px;
}

.popupBgLayer {
  background-color: rgba(42, 45, 54, 0.1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  padding: 10px 0;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  -webkit-transition: 500ms;
  transition: 500ms;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  -ms-transform: scale(0.5);
  opacity: 0;
}

.pvImgCont {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 45, 54, 0.94);
  float: left;
}

.pView-topbar {
  background: #000;
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.pvImgCont-sub {
  width: calc(100% - 86px);
  height: calc(100% - 120px);
  margin: auto;
  position: relative;
  top: 5%;
}

.absl {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.pvImgCont-sub img {
  position: absolute;
  -webkit-box-shadow: 0 0 12px 0 rgb(254, 255, 221);
  -moz-box-shadow: 0 0 12px 0 rgb(254, 255, 221);
  box-shadow: 0 0 12px 0 rgb(254, 255, 221);
}

.hide {
  display: none;
}

.pViewFname {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  float: left;
  width: 50%;
  padding: 15px 20px;
  font-family: Comic sans MS;
  font-style: normal;
  color: #fff;
}

.diffComp {
  width: 45%;
  float: left;
  padding: 0px 25px 0px 25px;
}

.refer {
  padding: 5px;
  box-shadow: 0px 0px 2px #888888;
  right: 0px;
  width: 65%;
  float: right;
  top: 55px;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 100;
}
.ul_span {
  height: 100%;
}
span {
  width: 33%;
  display: inline-block;
}
h5 {
  color: red;
}
.brws_list
{
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  box-sizing: border-box;
}      

.mcC:hover ,.mcCsel{
  list-style: none;
  background-color: #383a3a;
  color: #fff;
}

#Atom div, #Molecule div, #Organism div, #Page div, #Global div
{
  padding:5px;
  font-size: 13px;
}

.freezer {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    margin-left: 0;
    margin-top: 0;
    left: 0;
    top: 50px;
    opacity: .7;
    background-color: #000;
}
.info{
  background-image: url("../images/information.png");
  height: 55px;
  width: 25px;
  float: right;
  position: absolute;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  right: 10px;
  top: 0px;
  cursor: pointer;
}