body {
  font-family: 'ProximaNovaRegular', sans-serif !important;
  font-style: normal;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
}
.tab1 {
  font-size: 18px !important;
  padding: 18.63px;
  background-color: #2a2d36;
  color: #abacae;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  margin-right: 20px;
  margin-left: 50px;
  position: relative;
}
.tab1_hover {
  background-color: #131418;
  color: white;
  font-size: 18px !important;
  padding: 18.63px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  margin-right: 20px;
  margin-left: 50px;
  position: relative;
}
.tab1:hover {
  background-color: #131418;
  color: white;
}
.tab1_select {
  background-color: #131418;
  color: white;
}
.tab2 {
  font-size: 18px !important;
  padding: 18.63px;
  background-color: #2a2d36;
  color: #abacae;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  margin-right: 17px;
  margin-left: 17px;
  position: relative;
}
.tab2:hover {
  background-color: #131418;
  color: white;
}
.tab2_hover {
  background-color: #131418;
  color: white;
  font-size: 18px !important;
  padding: 18.63px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  margin-right: 17px;
  margin-left: 17px;
  position: relative;
}
.main {
  height: 100%;
  width: 100%;
}
.content {
  box-shadow: 1px 0px 11px rgba(0, 0, 0, 0.21);
  display: block;
  margin: 1px 46px;
  width: 92%;
}
.clr {
  clear: both;
}
.list {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  width: 100%;
}
.tab_li1 {
  font-size: 14px !important;
  padding: 20px;
  text-align: center;
  background-color: #2a2d36;
  color: #abacae;
  display: inline;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.tab_li2 {
  font-size: 14px !important;
  padding: 20px;
  text-align: center;
  background-color: #2a2d36;
  color: #abacae;
  display: inline;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.tab_li3 {
  font-size: 14px !important;
  padding: 20px;
  text-align: center;
  background-color: #2a2d36;
  color: #abacae;
  display: inline;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.tab_li1:hover {
  background-color: #131418;
  color: white;
}
.tab_li2:hover {
  background-color: #131418;
  color: white;
}
.tab_li3:hover {
  background-color: #131418;
  color: white;
}
.tab_li1_hover {
  background-color: #131418;
  color: white;
  font-size: 14px !important;
  padding: 20px;
  text-align: center;
  display: inline;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.tab_li2_hover {
  background-color: #131418;
  color: white;
  font-size: 14px !important;
  padding: 20px;
  text-align: center;
  display: inline;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.tab_li3_hover {
  background-color: #131418;
  color: white;
  font-size: 14px !important;
  padding: 20px;
  text-align: center;
  display: inline;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.scr_top {
  display: inline-block;
  display: flex;
}
.logo {
  margin: 15px;
}
.line1 {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  top: 59px;
  left: 0px;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.21);
  border-radius: 1px;
}
.line2 {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  top: 59px;
  left: 0px;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.21);
  border-radius: 1px;
}
.line3 {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  top: 55px;
  left: 0px;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.21);
  border-radius: 1px;
}
.line4 {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  top: 55px;
  left: 0px;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.21);
  border-radius: 1px;
}
.line5 {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  top: 55px;
  left: 0px;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.21);
  border-radius: 1px;
}
.ul_catch_main {
  display: inline-block;
  width: 100%;
  margin-top: 3px;
}
.ul_none {
  display: none;
}
.ul_catch_1 {
  display: flex;
  width: 100%;
}
.ul_catch_2 {
  display: flex;
  width: 100%;
}
.ul_catch_3 {
  display: flex;
  width: 100%;
}
.image_view {
  margin: 0px 37px;
  list-style-type: none;
  padding: 0px;
  width: 100%;
}
.image_li {
  padding: 20px 0px 20px 100px;
  cursor: pointer;
  box-shadow: 0px 0px 2px #888888;
  margin: 0px 10px;
  position: relative;
}
.image_li:hover {
  box-shadow: 0px 0px 1px 2px rgba(136, 136, 136, 0.49);
}
.fixed {
  transition: 1s all ease;
  position: fixed;
  top: 0;
}
.Screenshot {
  display: none;
}
.icon2 {
  display: none;
}
.icon1 {
  position: absolute;
  top: -10px;
  left: 70px;
  display: block;
}
.inp {
  border: none;
  position: absolute;
  top: 12PX;
  width: 240px;
  right: 10PX;
  padding: 8px;
  height: 34px;
  color: black;
  border-radius: 3px;
  display: none;
}
.span {
  width: 33%;
  display: inline-block;
  margin-left: 4px;
}
.scr_img {
  width: 25vw;
  margin: 1vh 2vw;
  cursor: pointer;
  padding: 5px;
}
.scr_img:hover {
  box-shadow: 0px 0px 2px #888888;
}
.img_div_hide {
  overflow: hidden;
  -webkit-transition: height 0.8s linear;
  -moz-transition: height 0.8s linear;
  -o-transition: height 0.8s linear;
  -ms-transition: height 0.8s linear;
  transition: height 0.8s linear;
  box-shadow: 0px 0px 2px #888888;
  margin: 5px 10px;
  height: 0px;
}
.img_div {
  height: auto;
}
.iframe {
  width: 100%;
  height: calc(100vh - 168px);
  border: none;
  outline: none;
}
.arrow {
  right: 70px !important;
  transition: 0.3s;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: 0.3s;
}

.arrow_up {
  right: 70px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.3s;
}
.title {
  padding: 5px;
  font-size: medium;
  margin: 133px;
}
.popup_view {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.large_img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.close {
  position: absolute;
  opacity: 1;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover, .close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.refer {
  padding: 5px;
  box-shadow: 0px 0px 2px #888888;
  overflow-y: scroll;
  height: 150px;
  margin: 1px 10px;
}
